:root {
  --color-primary: #48aaa7;
  --color-secondary: #75c163;
  --color-background: #f6f6f7;
  --color-neutral: #e1e5ec;
  --color-white: #ffffff;
  --color-text-dark: #111827;
  --color-text-medium: #374151;
  --color-text-light: #6b7280;
  --border-radius: 0.5rem;
}

body {
  font-family: var(--font-onest);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}



/* Screen reader only - for accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
