.searchContainer {
  align-self: stretch;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  background: #f6f6f7;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
  margin-bottom: 16px;
  width: calc(100% - 24px);
}

.searchInput {
  flex: 1 1 0;
  color: var(--color-text-medium);
  font-size: 14px;
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.searchInput::placeholder {
  color: var(--color-text-light);
}
